.App-logo {
  /* animation: spin infinite 20s linear; */
  height: 80px;
  z-index: 1;
}

.App-header {
  background-color: #b21818;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.Logo-wrapper {
  /* animation: spin infinite 20s linear; */
  position: relative;
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo-wrapper .App-handLogo {
  position: absolute;
  height: 55px
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
